/*
Theme Name: Flat Bootstrap Child
Theme URI: http://xtremelysocial.com/wordpress/child/
Description: Child theme for Flat Bootstrap. Includes a stylesheet (style.css) for you to restyle any of the CSS and a functions.php file to change theme parameters or components. Both files include samples of a few common things you might want to do.
Author: XtremelySocial
Author url: http://xtremelysocial.com
Version: 1.5
License: GNU General Public License
License URI: http://www.opensource.org/licenses/GPL-3.0
Template: flat-bootstrap
Template Version: 1.9
Tags: one-column, right-sidebar, left-sidebar, fluid-layout, responsive-layout, custom-header, custom-menu, featured-images, featured-image-header, full-width-template, flexible-header, theme-options, sticky-post, threaded-comments, light, translation-ready, rtl-language-support, custom-background
*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i');

body, h1, h2, h3, h4, h5 {
	font-family: 'Lato', sans-serif;
	color: #000;
}
body {
	background-color: #fff;
}
a, a:hover, a:visited, a:active {
	color:inherit;
}
#page, .after-footer, .container, .navbar {
	max-width:100%;
}
.container {
	width:100%;
	padding-left:0px;
	padding-right:0px;
}
header.content-header, div#sidebar-pagebottom{
	display:none!important;
}
.navbar-nav {
	margin-top: 10px;
	margin-left:145px;
	min-height:60px;
	float: right;
	padding-right: 30px;
}
.navbar-default {
    background-color: #993a06;
    border: none;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-brand {
    padding:0 25px;
}
.navbar-brand img {
    width:130px;
}
.home .navbar-brand img {
	width: 120px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #a37e2c;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border:none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background:none;
}
.navbar-collapse {
	box-shadow: none;
	-webkit-box-shadow: none;
}
.home-header {
	/*background: url('/wp-content/uploads/2018/03/home-header.jpg')no-repeat;*/
	background-position: center center;
	background-size: 100% auto;
	min-height: 80vh;
}
.home-header video {
	position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
    top: 0;
}
main#main {
    padding: 30px 5%;
}
.home main#main {
    padding: 0;
}
div#content {
	margin-top:50px;
}
.home div#content {
	margin-top:0;
}
.main-logo {
	position: absolute;
	right:20px;
	top:0;
}
.main-logo img {
	width:200px;
}
#masthead {
	position: fixed;
	z-index: 999;
	width:100%;
}
.home #masthead {
	position: initial;
}
button.navbar-toggle {
    right: 40px;
}
.home .navbar-fixed {
	top: 0;
	z-index: 100;
	position: fixed;
	width: 100%;
}
.bottom-statement {
	position: absolute;
	bottom: 0;
	left:0;
	text-align: center;
	color:#fff;
	width:100%;
	font-weight: 700;
	padding:10px 0;
	background-color: rgba(0,0,0,.54);
}
.bottom-statement p {
	margin:0;
}
.col-md-12 {
	padding:0;
}
.tender-bison {
	margin: 0 5%!important;
}
.grill {
	padding-top: 30vh;
	padding-bottom: 10vh;
}
.btn-primary:focus, .btn-primary.focus, .btn-primary, .brown-button button, button, html input[type="button"], input[type="submit"], button:focus, html input[type="button"]:hover, html input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
	background-color: #993b1f;
	border-radius: 0;
	border: none;
}
.btn-primary:hover, .brown-button button:hover, input#gform_submit_button_1:hover {
	background-color:#fff;
	color: #993b1f;
}
.pagination>li>a, .pagination>li>span, span.page-numbers.current {
	color: #993b1f;
	background-color: #fff;
	border: 1px solid #992b1f;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus, span.page-numbers.current {
	background-color: #993b1f;
	color: #fff;
	border: none;
}
.yellow-button button {
	border-radius: 0;
	background-color: #e6af03;
}
.yellow-button button:hover {
	background-color: #fff;
	color: #e6af03;
}
.mobile-only {
	display: none;
}
.ranchers {
	background: url('/wp-content/uploads/2018/03/family-backgroun.jpg')no-repeat;
	background-position: center right;
	background-size: cover;
	min-height: 70vh;
	padding: 30px 5%;
}
.bison-bits {
	padding: 10vh 10vw;
}
.page-header-image img {
	width:100%;
}
.site-footer {
	background-color: #7a5b12;
	padding:40px 0 30px;
	clear:both;
}
.footer-left h4, .footer-left h5, .footer-left h3 {
	color: #fff;
}
.upper-footer {
	background-color: #d4cab3;
	padding:50px 5% 20px 5%;
	text-align: center;
	min-height: 270px;
}
.upper-footer img {
	display: inline-block;
	padding:10px 30px;
	max-width:250px;
}
.upper-footer h3 {
	background-color: rgba(153, 58, 6, .83);
	margin:10px;
	text-align: center;
	color: #fff;
	padding:12px;
}
.border-fix {
	position: absolute;
	top: -30px;
	width:60%;
	left: 20%;
	right: 20%;
	border: 2px solid #fff;
}
.lower-footer {
	padding: 30px 5%;
	text-align: center;
	color:#fff;
}
.lower-footer i {
	color:#fff;
	font-size:40px;
	display:inline-block;
	padding:10px;
}
.lower-footer h3 {
	font-style: italic;
}
.icons {
	padding-top:30px;
}
.lower-footer img {
	padding:10px;
}
#gform_1 label.gfield_label {
	display: none;
}
input#gform_submit_button_1 {
    background-color: #993a06;
    font-weight: 500;
    width: 100%;
}
.gform_wrapper .gform_footer {
	margin: 0!important;
}
.dropdown-menu {
	left: -187px;
	background:none;
}
div#secondary {
    background-color: #b16941;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
}
input.search-field.form-control {
    border: 3px solid #7b5b12;
}
aside h2 {
	font-size: 26px;
	color:#fff;
	font-style: italic;
	font-weight: bold;
}
.category-bar {
	background: #000;
	text-align: center;
	padding: 10px 5%;
}
.category-bar li.cat-item {
	display: inline-block;
	list-style: none;
	font-size: 20px;
	color:#fff;
	font-style: italic;
	font-weight: bold;
	padding-right: 15px;
}
 .single-post #main-grid, .search-results #main-grid, .blog #main-grid, .category #main-grid {
 	display: flex;
 	width:100%;
 }
 .single-blog-title {
 	font-size: 36px;
 	font-weight: 600;
 	margin: 15px 0;
 }
.pad-content {
	padding-left: 15px;
	padding-right: 15px;
}
.category-main {
	padding: 60px 5% 30px 5%;
}
.blog-loop {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}
.blog-loop .blog-single {
	background-color: #c7b899;
	padding:10px;
	color: #000;
	margin-bottom: 30px;
	flex: 1;
}
.blog-full {
	display: flex;
	align-items: stretch;
}
a.read-more {
	margin: 15px 0px;
	background-color: #795b12;
	padding:7px;
	color:#fff;
}
h3.cat-title {
	font-size:22px;
	font-weight: bold;
	min-height: 60px;
}
.entry-summary hr {
	display: none;
}
.woocommerce .site-content {
    padding-top:50px;
}
.woocommerce .page-header-image {
    display: none;
}
.gform_wrapper ul.gform_fields li.gfield {
    padding-right: 0!important;
}
@media(min-width: 768px) {
	.navbar-header {
    position: absolute;
	}
}
@media(max-width: 1100px){
	.home-header {
		background-size: auto 100%;
	}
	.border-fix {
	width:80%;
	left: 10%;
	right: 10%;
	}
}
@media(max-width: 990px) {
	.navbar-nav {
		float:none;
	}
	.border-fix {
		width:90%;
		left: 5%;
		right: 5%;
	}
	.upper-footer {
		padding:50px 10px 20px 10px;
	}	
}
@media(max-width: 768px){
	.mobile-only {
		display: block;
	}
	.ranchers {
		background: none;
		padding:0;
	}
	.navbar-default {
	}
	.navbar-nav {
	}
	.upper-footer .col-sm-4 {
    	margin-bottom: 50px;
	}
	.border-fix {
	width:40%;
	left: 30%;
	right: 30%;
	}
	.upper-footer {
	padding:50px 15px 20px 15px;
	}	
	.single-post #main-grid, .search-results #main-grid, .blog #main-grid, .category #main-grid {
 	display: block;
	}
	div#secondary {
		padding: 35px 10%;
	}
}





